<meta charset="UTF-8" ></meta>
<div id="f">
    <div>
        <div class="data_list">
            <div class="data_list_title">
                <img src="/static/images/hot_icon.png" ></img>
                热门电影</div>
            <div class="datas imageDatas">
                <ul class="imageUl">
                    <li class="imageLi" th:each="film:${application.newestIndexHotFilmList}">
                        <a target="_blank" th:href="'/film/'+${film.id}" th:title="${film.name}">
                            <img class="indexFilm" th:src="'/static/filmImage/'+${film.imageName}" ></img>
                            <p th:text="${film.name}"></p>
                        </a>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
</div>